# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtuelle Umgebungen
.venv/
venv/
env/
ENV/

# Packaging
build/
dist/
*.egg-info/

# Test & Coverage
.pytest_cache/
.coverage
coverage/
htmlcov/

# ==========================
# C++
# ==========================
# Kompilierte Dateien
*.o
*.obj
*.so
*.dll
*.dylib
*.exe
*.out

# CMake
build/
cmake-build-*/
CMakeFiles/
CMakeCache.txt
compile_commands.json
Makefile

# ==========================
# IDEs
# ==========================
.vscode/
.idea/

# ==========================
# Betriebssystem
# ==========================
.DS_Store
Thumbs.db

# ==========================
# Logs
# ==========================
*.log

# ==========================
# Geheimnisse
# ==========================
.env
.env.*
*.pem
*.key